//熱門國家-透明背景效果
.card-img-overlay{
    opacity: 0;
    &:hover{
        opacity: 1;
        background-image: linear-gradient( 180deg, rgba(0,0,0,0), rgba(0,0,0,0.45));
        // transition: 0.8s ease
    }
    @include media-breakpoint-down(lg) {
        opacity: 1;
  }
}


//航線精選-照片變化效果
.card-img-change-1:hover {
    box-shadow: 0px 4px 8px #00000014;
    img {
        content: url(/images/Tokyo_7.jpg);
    }

    a {
        color: #000;
    }
}

.card-img-change-2:hover {
    box-shadow: 0px 4px 8px #00000014;
    img {
        content: url(/images/New\ York_5.jpg);
    }

    a {
        color: #000;
    }
}

.card-img-change-3:hover {
    box-shadow: 0px 4px 8px #00000014;
    img {
        content: url(/images/London_6.jpg);
    }

    a {
        color: #000;
    }
}

.card-img-object-fit {
    width: 100%;
    height: 400px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: 0px -50px;
        border-radius:24px 24px 0 0;
    }
}

//航線精選-邊角
.card-border-radius{
    border-radius:24px;
}