.cover{
    margin-top: 70px;
    @include media-breakpoint-up(lg) {
        margin-top: 88px;
  }
}

.cover-img-object-fit{
  width: 100%;
  height: 200px;
  img {
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
  @include media-breakpoint-up(md) {
          width: 100%;
          height: 300px;
    }
    @include media-breakpoint-up(lg) {
      width: 100%;
      height: 400px;
}

}



.text-align-justify{
  text-align: justify;
}



.footer-bg-color {
  background-color: #3A3A3A !important
}

.btn-hover:hover {
  color: #000;
  background-color: #F9C745;
  border-color: #F9C745;
}

.text-shadow-color {
  text-shadow: #000 0.1em 0.1em 0.2em
}

.card-btn-hover:hover {
  color: #F9C745 !important
}

.link-color-hovor:hover {
  color: #F9C745 !important
}
